@import 'tailwindcss';

/* Colors */
@theme {
	/* Primary */
	--color-primary: oklch(0.78 0.19 40);
	--color-primary-light: oklch(0.85 0.19 40);
	--color-primary-dark: oklch(0.65 0.19 40);

	/* Secondary */
	--color-secondary: oklch(0.869 0.005 56.366);
	--color-secondary-light: oklch(0.95 0.005 56.366);
	--color-secondary-dark: oklch(0.75 0.005 56.366);

	/* Tertiary */
	--color-tertiary: oklch(0.609 0.126 221.723);
	--color-tertiary-light: oklch(0.75 0.126 221.723);
	--color-tertiary-dark: oklch(0.45 0.126 221.723);

	--color-supportBlack: oklch(0.21 0.034 264.665);
	--color-supportWhite: oklch(0.984 0.003 247.858);

	--color-gray-*: initial;
	--color-gray-50: oklch(0.984 0.003 247.858);
	--color-gray-100: oklch(0.968 0.007 247.896);
	--color-gray-200: oklch(0.929 0.013 255.508);
	--color-gray-300: oklch(0.869 0.022 252.894);
	--color-gray-400: oklch(0.704 0.04 256.788);
	--color-gray-500: oklch(0.554 0.046 257.417);
	--color-gray-600: oklch(0.446 0.043 257.281);
	--color-gray-700: oklch(0.372 0.044 257.287);
	--color-gray-800: oklch(0.279 0.041 260.031);
	--color-gray-900: oklch(0.208 0.042 265.755);
	--color-gray-950: oklch(0.129 0.042 264.695);

	--color-purple-*: initial;
	--color-purple-50: oklch(0.977 0.017 320.058);
	--color-purple-100: oklch(0.952 0.037 318.852);
	--color-purple-200: oklch(0.903 0.076 319.62);
	--color-purple-300: oklch(0.833 0.145 321.434);
	--color-purple-400: oklch(0.74 0.238 322.16);
	--color-purple-500: oklch(0.667 0.295 322.15);
	--color-purple-600: oklch(0.591 0.293 322.896);
	--color-purple-700: oklch(0.518 0.253 323.949);
	--color-purple-800: oklch(0.452 0.211 324.591);
	--color-purple-900: oklch(0.401 0.17 325.612);
	--color-purple-950: oklch(0.293 0.136 325.661);

	--color-yellow-*: initial;
	--color-yellow-50: oklch(0.987 0.022 95.277);
	--color-yellow-100: oklch(0.962 0.059 95.617);
	--color-yellow-200: oklch(0.924 0.12 95.746);
	--color-yellow-300: oklch(0.879 0.169 91.605);
	--color-yellow-400: oklch(0.828 0.189 84.429);
	--color-yellow-500: oklch(0.769 0.188 70.08);
	--color-yellow-600: oklch(0.666 0.179 58.318);
	--color-yellow-700: oklch(0.555 0.163 48.998);
	--color-yellow-800: oklch(0.473 0.137 46.201);
	--color-yellow-900: oklch(0.414 0.112 45.904);
	--color-yellow-950: oklch(0.279 0.077 45.635);

	--color-green-*: initial;
	--color-green-50: oklch(0.979 0.021 166.113);
	--color-green-100: oklch(0.95 0.052 163.051);
	--color-green-200: oklch(0.905 0.093 164.15);
	--color-green-300: oklch(0.845 0.143 164.978);
	--color-green-400: oklch(0.765 0.177 163.223);
	--color-green-500: oklch(0.696 0.17 162.48);
	--color-green-600: oklch(0.596 0.145 163.225);
	--color-green-700: oklch(0.508 0.118 165.612);
	--color-green-800: oklch(0.432 0.095 166.913);
	--color-green-900: oklch(0.378 0.077 168.94);
	--color-green-950: oklch(0.262 0.051 172.552);
}

/* Fonts */
@theme {
	--font-sans: 'Source Sans Pro', Inter, sans-serif;
	--font-mono: 'Fira Code', monospace;
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: #94a3b8;
	background-color: #020617;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

:focus-visible {
	outline: none;
	box-shadow: 0 0 0 2px #7c3aed; /* violet-700 */
}

.container {
	margin: 0;
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #f6f6f6;
		background-color: #2f2f2f;
	}
}
